<!-- header.ejs -->
<link rel="stylesheet" href="/css/header.css">
<header>
    <h1><img src="/resources/透過ロゴ.png" alt=""></h1>
    <nav>
        <a href="/">ホーム</a>
        <button><a href="/carManagement">車両管理</a></button>
    </nav>
</header>
<hr>
