<!-- header.ejs -->
<link rel="stylesheet" href="/css/header.css">
<header>
    <h1><img src="/resources/透過ロゴ.png" alt=""></h1>
    <nav>
        <a href="/">ホーム</a>
        <a href="/carManagement">車両管理</a>
        <a href="/car-listing">出品管理</a>
        <a href="/auctionManagement">オークション登録</a>
    </nav>
</header>
<hr>
